
.about-us-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contributer {
  text-align: center;
  width: 200px;
  box-shadow: var(--box-shodow);
}
.contributer-img {
  margin-top: 5px;
  border-radius: 50%;
}

.contributer-name {
  padding: 15px;
  text-align: center;
  color: var(--main-heading-text-color);
  font-size: 28px;
}

.contributer-bio {
  padding: 0 20px;
  width: 160px;
  text-align: center;
  color: var(--main-text-color);
}

.soical-media-icons {
  color: var(--main-text-color);
  font-size: 30px;
  padding-top: 30px;
}
