#aside{
  position: absolute;
  display: grid;
  grid-row: 1fr 1fr 1fr;
  row-gap:20px;
  top: 150px;
  left: 15px;
  }


#aside img{
  border-radius: 15px;
  display:block;
  width: 55px;
  box-shadow: 0 9px #999;
}


