.aside-container{

  width: 100%;
  background-color: var(--aside-background-color);
  height: 100%;
  color: white;
  text-align: center;
  }

  .instrument{
    cursor: pointer;  
  }

  .instrument:hover{
    width: 100%;
  

  }
.instrument >img{
  display: block;
  margin:  auto;
  padding:8px 8px;
  border-radius: 5px;
  widows: 30px;
  height: 30px;
}

.instrument >img:hover{
  transition: 0.5s;

  padding:8px 8px;
  background-color: white;

}



