/* .cart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 200px;
}
.cart {
  display: inline-block;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 200px;
}
.img-name {
  justify-content: right;
} */

.cart-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: 200px;
  margin-bottom: 200px;
  background-color: var(--header-background-color);
  border-collapse: collapse;
  border: 1px solid #1a1a1d;
  padding: 10px;
  text-align: center;
  border-color: solid black;
}

.cart-header,
.cart-data {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  /* border-color: solid black; */
}
td,
th,
table {
  border: 2px solid rgb(124, 34, 34);
  padding: 30px;
  text-align: center;
}
.button-style {
  justify-content: center;
  align-items: center;
  display: block;
  border: none;
  margin-top: 10px;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: var(--main-heading-text-color);
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 20px;
  margin-left: 25%;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.5);
}
