.drum-container{
   
    width: 100%;
    height: 50%;
}

.panal-confiq{
    display: flex;
    
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

/* power switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.power-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

}

.power-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.power-switch:checked + .power-slider {
  background-color: var(--main-heading-text-color);
}

.power-switch:focus + .power-slider {
  box-shadow: 0 0 1px var(--main-heading-text-color);
}

.power-switch:checked + .power-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.power-slider.round {
  border-radius: 34px;
}

.power-slider.round:before {
  border-radius: 50%;
}


/* volume slider */
.volume-slider-container {
  display:flex;
  margin-left: 20px;
  width: 170px;
}
.volume-slider-container > i{
  margin: 0px 5px;
  color:  var(--main-heading-text-color); ;
}
.volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.volume-slider:hover {
  opacity: 1;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--main-heading-text-color);
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:var(--main-heading-text-color);
  cursor: pointer;
}

/* drum */

.drum{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100%;
  margin-bottom: 200px;
}

.left-panal{
  padding: 25px;
  width: 25%;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;

  background-color: #d3d3d3;

  border-top-left-radius: 219px 41px;
  box-shadow: -15px 9px 0px 1px black, 2px 10px 0px 0px black, -26px 18px 2px 1px #dc7137, 0px 18px 0px 1px #dc7137;
  transform-style: preserve-3d;
  
  /* transform: skew(0deg , 13deg); */
}

.middle-panal{
  padding: 25px;
  width: 25%;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: #d3d3d3;
  
  box-shadow:0px 13px 0px -3px black, 0px 23px 2px -3px #c3073F;
  border-left:solid 3px #dc7137;
  border-right:solid 3px  rgb(0, 225, 255);
  /* transform: translate(0px, 58px); */

  transform-style: preserve-3d;
}

.right-panal{
  padding: 25px;
  width: 25%;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns:  auto auto auto;
  background-color: #d3d3d3;
  /* transform: skew(0deg , -13deg); */
  border-top-right-radius: 219px 41px;
  box-shadow: 16px 9px 0px 1px black, 0px 10px 0px 0px black, 22px 15px 2px 3px rgb(0, 225, 255), 0px 18px 0px 0px rgb(0, 225, 255);

  transform-style: preserve-3d;
}

.right-panal > .drum-key{
  background-color: rgb(0, 225, 255);
}

.left-panal > .drum-key{
  background-color: rgb(236, 120, 25);
}
.drum-key{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: var(--drum-machine-button-main-color);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
 
  

}

.drum-key:hover{
  cursor: pointer;
  background-color: var(--drum-machine-button-second-color);

  transition: 0.3s;
}


.drum-key:active {
  background-color: var(--drum-machine-button-second-color);
  box-shadow: 0 5px skyblue, 0px 0px 6px 9px white;
 
  transform: translateY(4px);
  
}

.drum-key-keyboard-clicked{
  background-color: var(--drum-machine-button-second-color)!important;
  box-shadow: 0 5px skyblue, 0px 0px 6px 9px white;
  transform: translateY(3px);
  
}

.drum-samples-container{
  display: block;
  margin: auto;
  width: 30%;
  height: 160px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.audio-sample{
  color: var(--main-text-color-black);
  font-size: 32px;
}

.audio-sample > audio{
  width: 100%;
 padding: 10px 0px;
 cursor: pointer;

}

.audio-sample:hover >audio{
  color: var(--main-text-color-white);
  font-size: 32px;
  transition: 0.3s;
}

