/* .Products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
  gap: 15px;
} */
.Products-container {
  margin-left: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  padding: 25px;
}

.card {

  /* box-shadow: 0 0px 13px 0px rgba(255, 255, 255, 1), 0 0px 13px 0px rgba(255, 255, 255, 1),0 0px 13px 0px rgba(255, 255, 255, 1); */
  text-align: center;
  font-family: arial;
  width: 325px;
  height: 436px;
  border-radius: 5px;
  background-color: white;
}

.card .product-img { 

  margin-top: 20px;
  
  width: 200px;
  height: 200px;

  border-radius: 3px;
}
.price {
  color: rgb(119, 62, 62);
  font-size: 22px;
  margin-top: 20px;
  font-family: cursive;
}
.card .add-to-cart,
.card .show-det {
  display: block;
  border: none;
  margin-top: 10px;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: var(--main-heading-text-color);
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 20px;
  margin-left: 25%;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.5);
}

.card .add-to-cart:hover,
.card .show-det:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.desc {
  height: 70px;
  overflow-y: auto;
  font-family: serif;
}
.card-head {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-heading-text-color);
  margin-top: 15px;
  text-indent: 5px;
  letter-spacing: 3px;
}
